body {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #434455;
}

h1 {
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 2px;
  line-height: 60px;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2px;
}

h3 {
  font-weight: medium;
  font-size: 20px;
  letter-spacing: 2px;
}
.order-button {
  background-color: #2e2f42;
  color: white;
  width: 1440px;
  height: 600px;
}

.order-button button {
  padding: 16px 32px;
  background-color: #4d5ae5;
  color: white;
  border-radius: 4px;
  border-color: transparent;
  font-size: 16px;
}
.order-button button:hover {
  background-color: #404bbf;
}

.menu a {
  text-decoration: none;
  color: #2e2f42;
  font-size: 16px;
}
.menu a:hover {
  color: #404bbf;
}

.contacts a {
  text-decoration: none;
  color: #434455;
}
.contacts a:hover {
  color: #404bbf;
}

footer {
  background-color: #2e2f42;
  color: white;
}
